.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f1e4b3;
  border-radius: 20px;
  height: 325px;
  margin: 1rem;
  width: 325px;
  text-align: left;
  padding: 30px;
  /* color: white; */
}

form#payPalForm {
  width: 170px;
  height: 75px;
  margin-top: 10px;
  background: #f1e4b3;
}

.card>.img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  border-radius: 20px 20px 0 0;
  opacity: .8;
}

.card>.img-container>img {
  width: 60%
}

.card>.content>h1 {
  padding-right: 1rem;
  font-size: 30px;
  color: #C7402D;
}

.card>.content>p {
  font-size: 17px;
  padding-left: 5%;
  color: black;
}

.card>.img-container:hover {
  opacity: 1.0;
}

select {
  width: 100px;
}