.card {
  display: flex;
  flex-direction: row;
  background: #EC9770;
  border-radius: 20px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  text-align: left;
}

#payPalForm {
  width: 170px;
  height: 75px;
  margin-top: 10px;
}

.card>.img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  border-radius: 20px 20px 0 0;
  opacity: .8;
}

.card>.img-container>img {
  width: 60%
}

.card>.content {
  padding-right: 1rem;
  font-size: 14px;
}

.card>.content>p {
  font-size: 17px;
  padding-left: 5%; 
}

.card>.img-container:hover {
  opacity: 1.0;
}