.card {
    background: #fff;
    border-radius: 20px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    text-align: left;
}

.card>.img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(-45deg, #5399af, #64a38d, #75ac6d);
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.card>.img-container>img {
    width: 60%
}

.card>.content {
    padding-right: 1rem;
    font-size: 15px;
}

.card>.img-container:hover {
    opacity: 1.0;
}