.jumbotron {
  background: linear-gradient(-45deg, #5399af, #64a38d, #75ac6d);
  width: 100%;
  color: #ffffff;
  margin: 0;
}

.jumbotron>.caption>h1 {
  color: #ffffff;
}

h1 {
  margin: 0;
  padding: 10px 0;
}