h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    background: linear-gradient(120deg, #5399af, #64a38d, #75ac6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-top: 50px;
}

.line {
    border-top: 3px solid #5399af;
    opacity: 0.7;
    width: 300px;
    margin: 30px auto;
}