.footer {
  min-height: 150px;
  position: relative;
  bottom: 0;
  background-color: #87a097;
  opacity: 0.8;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  opacity: 0.8;
  color: #F8F8F8;
  text-align: center;
}

.footer>div.container>p {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer>div.container>p>a {
  color: #fff;
  font-weight: 100;
  font-size: .4em;
  letter-spacing: 0.1em;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

p>a,
p>a:focus,
p>a:hover {
  background-color: transparent;
  color: #fcf1be;
  text-decoration: none;
}

p>a:focus,
p>a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}